/* import styled from '@emotion/styled'; */


.Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 40px; */
    color: #010101;

    padding: 20px;
    
    /* margin-bottom: 20px; */

    /* border: 2px solid #ffad7a; */
    /* border-radius: 20px; */
    
    /* background-color: #faebe2; */
}
/* ----------------------------------------------- */
.navFlex {
    display: flex;
    /* text-align: left; */
    /* align-items: start; */
    margin-left: 4%;
    /* margin-right: auto; */
    gap: 50px;
    
    
    /* text-decoration: none; */
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    /* text-align: left; */
}

.navLink:active {
    color: orange;
    text-decoration: underline;
}

/* .navLinkHome {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: rgb(31, 85, 0);
    margin-bottom: 10px;
} */






.navBlock {
    display: flex;
    gap: 5px;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}

.titleTextBase {
    padding-bottom: 20px;
    text-decoration: overline;
    line-height: 1.5;

    color: #b80808;
    text-shadow: 4px 4px 8px #555555;

    font-size: 36px;
    font-weight: 700;
    font-family: Tahoma;
}


.titleText {
    padding-bottom: 20px;
    text-decoration: overline;
    text-transform: capitalize;
    /* text-align: justify; */
    text-align: left;
    text-indent: 100px;
    line-height: 1.5;
    letter-spacing: inherit;
    letter-spacing: 4px;
    word-spacing: 8px;
    white-space: pre-wrap;

    color: #b80808;
    text-shadow: 12px 12px 12px #9e4949,
        5px 5px 5px #696969;

    font-size: 47px;
    font-weight: 700;
    /* font-style: oblique; */
    font-style: italic;
    /* font-family: Tahoma; */
    font-family: 'Tangerine', cursive;
}

.titleText::first-letter {
    font-family: 'Roboto', serif;
    font-size: 40px;
    color: #0013b9;

}

.titleText::selection {
    color: #f5e874;
    background-color: #e100ff;
}

/*! Юля (вопрос 3)  */
.titleTextQuestion {
    font-size: 30px;
    font-weight: 700;
    color: rgb(112, 112, 112);
}

/* ! --- Общие стили для всех типов оповещений --- */
.buttonAlert {
    display: flex;
    border: none;
    /* font: inherit; */
    cursor: pointer;
    /* cursor: cell; */
    outline: none;
    align-items: center;
    /* margin-left: auto; */
    border-radius: 4px;
    padding: 8px 12px;
    /* background-color: #3b3b3b; */
    /* color: #ffffff; */
    /* font-weight: 500; */

    box-shadow: 0px 4px 4px #00000026;
}

/* .buttonAlert:visited, */
/* .buttonAlert:focus, */
/* .buttonAlert:active, */
.buttonAlert:hover {
    background-color: #cfcfcf;
}

/* .buttonAlert::before, */
.buttonAlert::after {
    display: none;
    content: '';
    width: 20px;
    height: 20px;
    /* margin: 0 auto; */
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png");
    background-size: contain;
}

.buttonAlert::before {
    display: none;
    content: '';
    width: 20px;
    height: 20px;
    /* margin: 0 auto; */
    margin-right: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/300/300516.png");
    background-size: contain;
}

.buttonAlert:hover::after {
    display: block;
}

.buttonAlertBefore::before {
    display: block;
}


.alert {
    font-size: 12px;
    font-weight: 500;
}


/* Специфические стили для каждого типа */
.success {
    color: green;
    /* background-color:#b7ecb7 ; */
}


.warning {
    padding: 10px;
    color: orange;
}


.error {
    color: red;
    /* background-color: #eccab7; */
}


.successBackgroundColor {
    background-color: #b7ecb7;
}


.errorBackgroundColor {
    background-color: #eccab7;
}

/* ----------------------------- */