.form {
    /* width: 320px; */
    width: 80%;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.submitButtonForm {
    position: absolute;
        bottom: 33px;
        right: 35px;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 16px;
    /* padding: 12px; */
    font-weight: 700;
    border: solid 1px;
    border-radius: 4px;
    color: #2a363b;
}
.submitButtonForm:hover,
.submitButtonForm:focus {
    background-color: #c4c4c4;
}