/* ! 1.Стили для устройств с шириной экрана от 320px до 599px */
@media screen and (min-width: 320px) and (max-width: 599px) {
    .list_OLD {
        /* todo Пока не нужен */
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        margin: 0;
        padding-top: 10px;
        list-style: none;
        padding-inline-start: 3%;
    }

    .list {  
        display: grid;
        /* ! Задаем 1 столбец */
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

        .informationTextContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .informationText {
            margin-left: 8vw;
            margin-right: 8vw;
            color: rgb(99, 24, 24);
            font-size: 4vw;
            text-align: center;
        }

    .listItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 2%;

        border: 2px solid rgb(164, 214, 255);
        border-radius: 8px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
        /* outline: 1px solid tomato; */
    }

    .imagePizza {
        width: 50%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
    }

    .cardContents {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 1%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .namePizza {
        height: 2.2em;
        margin-top: 10px;
        text-align: center;
        font-size: 0.9em;
        color: blue;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .pricePizza {
        text-align: center;
        font-size: 0.8em;
        color: red;
    }

    .inputDeleteButtonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputContainer {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputQuantity {
        width: 40%;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(236, 247, 255);
    }

    .quantityButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.0em;
        cursor: pointer;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }

    .decrementButton {
        color: #ff0000;
    }
    .decrementButton:hover,
    .decrementButton:focus {
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    }

    .incrementButton {
        color: #168300;
    }
    .incrementButton:hover,
    .incrementButton:focus {
        border: 1px solid #168300;
        background-color: #c0fabe;
    }
    
    /* //! OLD  */
    /* .pizzaDeleteButton {
        display: inline-block;
        padding: 4px 8px;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        color: #9b1616;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        color: #ff00dd;
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    } */

    .pizzaDeleteButton{
        opacity: 0.5;
        width: 25px;
        /* width: 20%; */
        margin-top: 2vw;
        padding: 8px 9px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        opacity: 1;
        /* background-color: rgb(255, 220, 220); */
    }

    .trashImage {
        background-color: inherit
    }

    .shoppingCartPriceSubmitContainer {
        position: absolute;
        bottom: 45px;
        left: 20%;
        /* outline: 1px solid blue; */
    }

    .totalPriceText {
        text-align: center;
        font-size: 1.1em;
        color: blue;
        /* outline: 1px solid green; */
    }

    .totalPriceNumber {
        display: block;
        margin-top: 5px;
        font-size: 1.0em;
        color: red;
        /* outline: 1px solid red; */
    }
}



/* ! 2.Стили для устройств с шириной экрана от 600px до 767px */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .list {
        display: grid;
        /* ! Задаем 2 столбца */
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .informationTextContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .informationText {
        margin-left: 8vw;
        margin-right: 8vw;
        color: rgb(99, 24, 24);
        font-size: 4vw;
        text-align: center;
    }

    .listItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 2%;
        border: 2px solid rgb(164, 214, 255);
        border-radius: 8px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
        /* outline: 1px solid tomato; */
    }

    .imagePizza {
        width: 50%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
    }

    .cardContents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 1%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .namePizza {
        height: 2.2em;
        /* flex-grow: 1; */
        margin-top: 10px;
        text-align: center;
        font-size: 0.7em;
        color: blue;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .pricePizza {
        text-align: center;
        font-size: 0.7em;
        color: red;
    }

    .inputDeleteButtonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputContainer {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputQuantity {
        width: 40%;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(236, 247, 255);
    }

    .quantityButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.0em;
        cursor: pointer;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }

    .decrementButton {
        color: #ff0000;
    }
    .decrementButton:hover,
    .decrementButton:focus {
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    }

    .incrementButton {
        color: #168300;
    }
    .incrementButton:hover,
    .incrementButton:focus {
        border: 1px solid #168300;
        background-color: #c0fabe;
    }

    .pizzaDeleteButton{
        opacity: 0.5;
        width: 25px;
        /* width: 20%; */
        margin-top: 0.5vw;
        padding: 8px 9px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        opacity: 1;
        /* background-color: rgb(255, 220, 220); */
    }

    .trashImage {
        background-color: inherit
    }

    .shoppingCartPriceSubmitContainer {
        position: absolute;
        bottom: 55px;
        left: 15%;
        /* outline: 1px solid blue; */
    }

    .totalPriceText {
        width:110%;
        font-size: 1.1em;
        color: blue;
        /* outline: 1px solid green; */
    }

    .totalPriceNumber {
        margin-left: 3%;
        font-size: 1.0em;
        color: red;
        /* outline: 1px solid red; */
    }
}


/* ! 3.Стили для устройств с шириной экрана от 768px и до 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .list {
        display: grid;
        /* ! Задаем 1 столбец */
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .informationTextContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .informationText {
        margin-left: 7vw;
        margin-right: 7vw;
        color: rgb(99, 24, 24);
        font-size: 3.5vw;
        text-align: center;
    }

    .listItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 2%;
        border: 2px solid rgb(164, 214, 255);
        border-radius: 8px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
        /* outline: 1px solid tomato; */
    }

    .imagePizza {
        width: 50%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
    }

    .cardContents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 1%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .namePizza {
        height: 2.2em;
        margin-top: 10px;
        text-align: center;
        font-size: 1.0em;
        color: blue;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .pricePizza {
        text-align: center;
        font-size: 0.9em;
        color: red;
    }

    .inputDeleteButtonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputContainer {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputQuantity {
        width: 40%;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(236, 247, 255);
    }

    .quantityButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.0em;
        cursor: pointer;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }

    .decrementButton {
        color: #ff0000;
    }
    .decrementButton:hover,
    .decrementButton:focus {
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    }

    .incrementButton {
        color: #168300;
    }
    .incrementButton:hover,
    .incrementButton:focus {
        border: 1px solid #168300;
        background-color: #c0fabe;
    }

    .pizzaDeleteButton{
        opacity: 0.5;
        width: 25px;
        /* width: 20%; */
        margin-top: 2vw;
        padding: 8px 9px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        opacity: 1;
        /* background-color: rgb(255, 220, 220); */
    }

    .trashImage {
        background-color: inherit
    }

    .shoppingCartPriceSubmitContainer {
        position: absolute;
        bottom: 35px;
        left: 15%;
        /* outline: 1px solid blue; */
    }

    .totalPriceText {
        width: 110%;
        font-size: 1.1em;
        color: blue;
        /* outline: 1px solid green; */
    }

    .totalPriceNumber {
        margin-left: 3%;
        font-size: 1.0em;
        color: red;
        /* outline: 1px solid red; */
    }
}


/* ! 4.Стили для устройств с шириной экрана от 1200px и до 1599px */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .list {
        display: grid;
        /* ! Задаем 2 столбца */
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .informationTextContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .informationText {
        margin-left: 6vw;
        margin-right: 6vw;
        color: rgb(99, 24, 24);
        font-size: 2.5vw;
        text-align: center;
    }

    .listItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 2%;
        border: 2px solid rgb(164, 214, 255);
        border-radius: 8px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
        /* outline: 1px solid tomato; */
    }

    .imagePizza {
        width: 50%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
    }

    .cardContents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 1%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .namePizza {
        height: 2.2em;
        margin-top: 10px;
        text-align: center;
        font-size: 1.0em;
        color: blue;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .pricePizza {
        text-align: center;
        font-size: 0.9em;
        color: red;
    }

    .inputDeleteButtonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputContainer {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputQuantity {
        width: 40%;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(236, 247, 255);
    }

    .quantityButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.0em;
        cursor: pointer;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }

    .decrementButton {
        color: #ff0000;
    }
    .decrementButton:hover,
    .decrementButton:focus {
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    }

    .incrementButton {
        color: #168300;
    }
    .incrementButton:hover,
    .incrementButton:focus {
        border: 1px solid #168300;
        background-color: #c0fabe;
    }

    .pizzaDeleteButton{
        opacity: 0.5;
        width: 25px;
        /* width: 20%; */
        margin-top: 0.7vw;
        padding: 8px 9px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        opacity: 1;
        /* background-color: rgb(255, 220, 220); */
    }

    .trashImage {
        background-color: inherit
    }

    .shoppingCartPriceSubmitContainer {
        position: absolute;
        bottom: 35px;
        left: 15%;
        /* outline: 1px solid blue; */
    }

    .totalPriceText {
        width: 110%;
        font-size: 1.1em;
        color: blue;
        /* outline: 1px solid green; */
    }

    .totalPriceNumber {
        margin-left: 3%;
        font-size: 1.0em;
        color: red;
        /* outline: 1px solid red; */
    }
}


/* ! 5.Стили для устройств с шириной экрана от 1600px и выше */
@media screen and (min-width: 1600px) {
    .list {
        display: grid;
        /* ! Задаем 3 столбца */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .informationTextContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .informationText {
        margin-left: 5vw;
        margin-right: 5vw;
        color: rgb(99, 24, 24);
        font-size: 2vw;
        text-align: center;
    }

    .listItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 2%;
        border: 2px solid rgb(164, 214, 255);
        border-radius: 8px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
        /* outline: 1px solid tomato; */
    }

    .imagePizza {
        width: 50%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
    }

    .cardContents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 95%;
        padding: 1%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .namePizza {
        height: 2.2em;
        margin-top: 10px;
        text-align: center;
        font-size: 1.0em;
        color: blue;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .pricePizza {
        text-align: center;
        font-size: 0.9em;
        color: red;
    }

    .inputDeleteButtonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputContainer {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* outline: 1px solid rgb(71, 181, 255); */
    }

    .inputQuantity {
        width: 40%;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(236, 247, 255);
    }

    .quantityButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.0em;
        cursor: pointer;
        border: 1px solid rgb(71, 181, 255);
        border-radius: 4px;
        box-shadow: 8px 8px 18px rgba(59, 43, 14, 0.23);
    }

    .decrementButton {
        color: #ff0000;
    }
    .decrementButton:hover,
    .decrementButton:focus {
        border: 1px solid #ff00dd;
        background-color: rgb(255, 220, 220);
    }

    .incrementButton {
        color: #168300;
    }
    .incrementButton:hover,
    .incrementButton:focus {
        /* color: #154407; */
        border: 1px solid #168300;
        background-color: #c0fabe;
    }
    
    .pizzaDeleteButton{
        opacity: 0.5;
        width: 25px;
        /* width: 20%; */
        margin-top: 0.5vw;
        padding: 8px 9px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        /* outline: 1px solid rgb(71, 181, 255); */
    }
    .pizzaDeleteButton:hover,
    .pizzaDeleteButton:focus {
        opacity: 1;
        /* background-color: rgb(255, 220, 220); */
    }

    .trashImage {
        background-color: inherit
    }

    .shoppingCartPriceSubmitContainer {
        position: absolute;
        bottom: 35px;
        left: 15%;
        /* outline: 1px solid blue; */
    }

    .totalPriceText {
        width: 110%;
        font-size: 1.1em;
        color: blue;
        /* outline: 1px solid green; */
    }

    .totalPriceNumber {
        margin-left: 3%;
        font-size: 1.0em;
        color: red;
        /* outline: 1px solid red; */
    }
}
