/* import styled from '@emotion/styled'; */

/* ! 1.ОБЩИЕ Стили для устройств с шириной экрана от 0 до 479px */
.mainContainer {
    height: 100vh;
    padding-top: 20px;
    display: flex;
        flex-direction: column;
        align-items: center;
    /* outline: 10px solid tomato; */
}

.navFlex {
    display: grid;
        /* ! Задаем 3 столбца */
        grid-template-columns: 0fr 2fr 2fr;
        grid-gap: 20px;

}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 16px;
        font-weight: 700;
    
}
.navLink:active {
    color: orange;
    text-decoration: underline;
}


/* ! 2.Стили для устройств с шириной экрана от 480px и выше */
@media screen and (min-width: 480px) {
    .navFlex {
            grid-gap: 12vw;
        padding-left: 5px;
            padding-right: 5px;
    }

    .navLink {
        font-size: 20px;
    }
}