.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    justify-content: flex-start;
    /* margin-left: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */

    margin: 0;
    /* padding: 10px; */
    list-style: none;
    padding-inline-start: 3%;
    /* padding-inline-end: auto; */
}

.listItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    /* height: 40%; */
    width: 95%;
    /* flex-basis: 45%; */
    padding: 1%;
    /* flex-direction: column; */
    /* margin-top: 20px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    outline: 1px solid tomato;
}

.cardContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* height: 40%; */
    width: 95%;
    /* flex-basis: 45%; */
    padding: 1%;
    /* flex-direction: column; */
    /* margin-top: 20px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    outline: 1px solid rgb(71, 181, 255);
}

.namePizza {
    /* align-self: flex-start; */
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
    color: blue;
}

.pricePizza {
    /* margin-left: 10%; */
    text-align: center;
    /* margin-right: auto; */
    font-size: 1.0em;
    color: red;
}

.inputQuantity {
    width: 100px;
    padding: 4px;
    margin-top: 5px;
    text-align: center;
    /* text-align: right; */
    
}



.shoppingCartPriceSubmitContainer {
    position: absolute;
        bottom: 35px;
        right: 145px;
    /* width: 50%; */
    /* height: 90%; */
    /* display: flex; */

    /* justify-content: flex-end; */
    /* align-items: center; */
    /* gap: 40px; */

    /* outline: 1px solid blue; */
}


.totalPriceText {
    /* display: block; */
    /* width:30%; */
    /* align-self: flex-start; */
    /* margin-top: 10px; */
    text-align: center;
    font-size: 1.1em;
    color: blue;

    /* outline: 1px solid green; */
}


.totalPriceNumber {
    /* margin-left: 1%; */
    /* margin-right: auto; */
    font-size: 1.0em;
    color: red;

    /* outline: 1px solid red; */
}