/* import styled from '@emotion/styled'; */


.orderHistoryContainer {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;

    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 600;

    /* border: 2px solid #01b80a; */
    /* border-radius: 20px; */
    
    background-color: #e3fae2;
    box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);

    outline: 1px solid blue;
}


.historyData {
    width: 100%;
    height: 35%;

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    

    outline: 1px solid blue;
}

.historyOrder {
    width: 100%;
    height: 50%;

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;

    outline: 1px solid blue;
}

.linkButton {
    position: absolute;
    bottom: 100px;
    right: 10%;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 16px;
    /* padding: 12px; */
    font-weight: 700;
    border: solid 1px;
    border-radius: 4px;
    color: #2a363b;
}

.linkButton:hover,
.linkButton:focus {
    background-color: #c4c4c4;
}